body{
    background-color:rgb(24,24,24);
}
.a {
    text-align: center;
    background-color: rgb(144,144,144);
    margin: 0;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.b{
    background: rgb(33,33,33);
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#b-link{
    float: left;
    color: rgb(255,255,255);
    padding: 8px;    
    text-decoration: none;
}

#b-link:hover{
    background: white;
    color: rgb(255,0,0);
}

.c {
    color: white;
    float: left;
    width: 33%;
    margin: 0px;
}