body{
    background-color:black;
}
.a {
    text-align: center;
    background-color: rgb(202, 199, 199);
    margin: 0;
    padding: 20px;
    color: rgb(0, 0, 0);
}

.b{
    background: rgb(73, 73, 73);
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
}

#b-link{
    float: left;
    color: #fff;
    padding: 8px;    
    text-decoration: none;
}

#b-link:hover{
    background: beige;
    color: rgb(4, 80, 52);
}

.c {
    color: white;
    float: left;
    width: 33%;
    margin: 0px;
}